* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  }

body {
    background-color: lightgray;
    text-align: center;
}

h1 {
    color: darkolivegreen;
}

p {
    font-size: 17px;
}
.container-fluid {
    padding: 25px;
}

.col-sm-4, .col-sm-8 {
    padding:  25px;
}

a {
    color: darkslateblue;
    font-size: larger;
}